<!-- MAIN CONTENT -->
<div id="content">
    <!-- Titulo, embaixo da breadcrumbs -->
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> Introdução</span></h1>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <ul id="sparks" class="">
                <li class="sparks-info">
                    <h5> Linhas de código <span class="txt-color-blue">47,171</span></h5>
                </li>
                <li class="sparks-info">
                    <h5> Horas Não dormidas <span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;45</span></h5>
                </li>
                <li class="sparks-info">
                    <h5> Partidas de Dota <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;244</span></h5>
                </li>
            </ul>
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- Primeiro box Sumario, horizontal toda -->
        <div class="row">
            <article class="col-sm-12">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        <h2>Sumario </h2>

                        <ul class="nav nav-tabs pull-right in" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">Aba 1</span></a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#s2"><i class="fa fa-facebook"></i> <span class="hidden-mobile hidden-tablet">Aba 2</span></a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#s3"><i class="fa fa-dollar"></i> <span class="hidden-mobile hidden-tablet">Aba 3</span></a>
                            </li>
                        </ul>

                    </header>

                    <!-- widget div-->
                    <div class="no-padding">
                     <div class="jarviswidget-editbox">
                            <div>
                                <label>Title:</label>
                                <input type="text" />
                            </div>
                        </div>

                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                <h3>Seja bem-vindo ao meu playground,</h3>
                                É aqui que eu me divirto colocando meus conhecimentos em desenvolvimento, nesta dashboard utilizei com linguagem de programação C# as frameworks de Desenvolvimento Asp.net MVC, Identity Framework e Entity Framework. Como front-end framework usei Bootstrap e SmartAdmin.
                                O Objetivo dessa dashboard é gerenciar um cadastro de funcionario, Bem simples não?!
                                Por esse motivo compliquei um pouco as coisas, funcionário tem beneficios e documentos o que possibilita termos models complexas nessa simples aplicação.
                                Infelizmente, a Azure não me deixa subir arquivos para o banco (Tenho pouco espaço para banco de dados) e desabilitei essa funcionalidade.
                                Mas as brincadeiras aqui feitas, abrangem uma grande gama de requisitos: Aprimoramento de experiência de usuário via Javascript(As vezes usando Ajax e Json), validações client-side e server-side, controle de sessão e usuários, e alguns aspectos mais complexos de uso das frameworks.
                                Esse projeto será constantemente atualizado, conforme minha disponibilidade de tempo e minha sede de novos conhecimentos.
                                </div>
                                <!-- end s1 tab pane -->

                                <div class="tab-pane fade" id="s2">
                                </div>
                                <!-- end s2 tab pane -->

                                <div class="tab-pane fade" id="s3">
                                </div>
                                <!-- end s3 tab pane -->
                            </div>

                            <!-- end content -->
                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
        </div>

        <!-- end row -->

        <!-- Segunda Linha vai até o final da Página -->
        <div class="row">

            <!-- Primeira coluna -->
            <article class="col-sm-12 col-md-12 col-lg-6">

                <!-- new widget -->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-fullscreenbutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-comments txt-color-white"></i> </span>
                        <h2> Asp.net MVC 5 </h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <div>
                                <label>Title:</label>
                                <input type="text" />
                            </div>
                        </div>
                        <!-- end widget edit box -->

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

                <!-- new widget -->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-colorbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                        <h2> Algo mais </h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <div>
                                <label>Title:</label>
                                <input type="text" />
                            </div>
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">

                            <input class="form-control" type="text">

                        </div>
                        <!-- end widget edit box -->

                        <div class="widget-body no-padding">
                            <!-- content goes here -->
                            
                            <!-- end content -->
                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

            <!-- Segunda coluna -->
            <article class="col-sm-12 col-md-12 col-lg-6">

                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
                        <h2>Template</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <div>
                                <label>Title:</label>
                                <input type="text" />
                            </div>
                            <div>
                                O template usado nessa aplicação é chamado SmartAdmin, foi um template que eu comprei e não se encontra como open-source e por isso não posso disponibilizar o código. Usei ele para poupar tempo ao desenvolver uma interface para o usuário. E cá entre nós, é uma interface muito maneira!
                            </div>
                        </div>
                        <!-- end widget edit box -->
                        <div class="widget-body no-padding">
                            <!-- content goes here -->
                          
                            <!-- end content -->
                        </div>
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

                <!-- new widget -->
                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-check txt-color-white"></i> </span>
                        <h2> Considerações </h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <div>
                                <label>Title:</label>
                                <input type="text" />
                            </div>
                        </div>
                        <!-- end widget edit box -->

                        <div class="widget-body no-padding smart-form">
                            <!-- content goes here -->
                            <!-- end content -->
                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
    <script>
     </script>
}