<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    <div class="row">
        <div class="jumbotron" style="background-color: white">
            <h1>Hello, world!</h1>
            <p>
                Esse é um projeto exemplo, que demontra minhas habilidades em Desenvolvimento Web!<br/>

            </p>
        </div>
    </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <h3>Tecnologias usadas</h3>
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="javascript:void(0);"> <img class="media-object" alt="64x64" src="~/Content/img/icon/aspnet.png"> </a>
                        <div class="media-body">
                            <h4 class="media-heading">ASP.NET MVC 5</h4>
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-left" href="javascript:void(0);"> <img class="media-object" alt="64x64" src="~/Content/img/icon/MSSQL.png"> </a>
                        <div class="media-body">
                            <h4 class="media-heading">Microsoft SQL</h4>
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-left" href="javascript:void(0);"> <img class="media-object" alt="64x64" src="~/Content/img/icon/WindowsAzure.png"> </a>
                        <div class="media-body">
                            <h4 class="media-heading">Azure Plataform</h4>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <h3>&nbsp;</h3>
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="javascript:void(0);"> <img class="media-object" alt="64x64" src="~/Content/img/icon/HTML5-Logo-64.png"> </a>
                        <div class="media-body">
                            <h4 class="media-heading">HTML 5</h4>
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-left" href="javascript:void(0);"> <img class="media-object" alt="64x64" src="~/Content/img/icon/CSS-3-64.png"> </a>
                        <div class="media-body">
                            <h4 class="media-heading">CSS 3</h4>
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-left" href="javascript:void(0);"> <img class="media-object" alt="64x64" src="~/Content/img/icon/javascript.png"> </a>
                        <div class="media-body">
                            <h4 class="media-heading">JavaScript</h4>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <h3>&nbsp;</h3>
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="javascript:void(0);"> <img class="media-object" alt="64x64" src="~/Content/img/icon/jquery.png"> </a>
                        <div class="media-body">
                            <h4 class="media-heading">Jquery</h4>
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-left" href="javascript:void(0);"> <img class="media-object" alt="64x64" src="~/Content/img/icon/bootstrap.png"> </a>
                        <div class="media-body">
                            <h4 class="media-heading">Bootstrap</h4>
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-left" href="javascript:void(0);"> <img class="media-object" alt="64x64" src="~/Content/img/icon/Github.png"> </a>
                        <div class="media-body">
                            <h4 class="media-heading">Github</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>